[icingaweb_db]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "icinga2webdb"
username = "icingaweb"
password = "Macmill44@@"
charset = ""
use_ssl = "0"

[icinga_ido]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "icinga"
username = "icinga"
password = "Macmill44@@"
charset = ""
use_ssl = "0"
