object Host "zabbix" {
  address = "192.168.56.95"
  check_command = "hostalive"
}
object  Service "ssh" {
  host_name = "zabbix"
  check_command = "ssh"
}

object  Service "http" {
  host_name = "zabbix"
  check_command = "http"
}
object  Service "users" {
  host_name = "zabbix"
  check_command = "users"
}
